avro==1.8.1
bagit==1.7.0
CacheControl==0.11.7
certifi==2018.8.24
chardet==3.0.4
cwltool==1.0.20180912090223
decorator==4.3.0
idna==2.7
isodate==0.6.0
lockfile==0.12.2
lxml==4.2.5
mistune==0.7.4
mypy-extensions==0.4.1
networkx==2.1
pathlib2==2.3.2
prov==1.5.1
psutil==5.4.7
pyparsing==2.2.0
python-dateutil==2.7.3
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.19.1
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.66
scandir==1.9.0
schema-salad==2.7.20180905124720
shellescape==3.4.1
six==1.11.0
subprocess32==3.5.2
typing==3.6.6
typing-extensions==3.6.5
urllib3==1.23
