version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - &restore_python_cache
        restore_cache:
          key: v1-dependency-cache-{{ checksum "requirements.txt" }}
      - &install_dependencies
        run:
          name: install python dependencies
          command: |
            virtualenv env
            source env/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
      - &save_python_cache
        save_cache:
          key: v1-dependency-cache-{{ checksum "requirements.txt" }}
          paths:
            - "env"
      - run:
          name: run tests
          command: |
            source env/bin/activate
            ./scripts/validate-workflows.sh
  pack:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - *restore_python_cache
      - *install_dependencies
      - *save_python_cache
      - run:
          name: create packed workflows
          command: |
            source env/bin/activate
            ./scripts/pack-workflows.sh
      - persist_to_workspace:
          root: build
          paths:
            - "*"
  deploy:
    docker:
      - image: circleci/golang:1.8
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} /tmp/workspace
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - pack:
          requires:
            - build
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - deploy:
          requires:
            - pack
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
