# Methods:

DNA-Seq data was processed using the TrimGalore toolkit({{trimgalore.ref}}) (v{{ trimgalore.version }}),
which employs Cutadapt({{cutadapt.ref}}) (v{{ cutadapt.version }})
to trim low quality bases and Illumina sequencing adapters from the 3' end of the reads.
Reads were aligned to the b37 version of the human genome with the BWA3({{bwa.ref}}) algorithm (v{{ bwa.version }})
Alignment processing and variant calling were performed using the GATK({{gatk.ref}}) toolkit (v{{ gatk.version }})
following the Broad Institute's Best Practices Workflow(Van der Auwera et al. 2013) (July 2017).

# References:
- {{trimgalore.ref}}. {{ trimgalore.citation }}
- {{cutadapt.ref}}. {{ cutadapt.citation }}
- {{bwa.ref}}. {{ bwa.citation }}
- {{gatk.ref}}. {{ gatk.citation }}
- Van der Auwera et al. 2013. From FastQ Data to High-Confidence Variant Calls: The Genome Analysis Toolkit Best Practices Pipeline Van der Auwera GA, Carneiro M, Hartl C, Poplin R, del Angel G, Levy-Moonshine A, Jordan T, Shakir K, Roazen D, Thibault J, Banks E, Garimella K, Altshuler D, Gabriel S, DePristo M, 2013 CURRENT PROTOCOLS IN BIOINFORMATICS 43:11.10.1-11.10.33
